body {
  /*background: url(https://cdn.glitch.global/bc5f1098-109a-49cb-8690-3f37e3706b53/waiting-room.JPG?v=1723351050501) center no-repeat;
  background-size: cover;*/
  height: 100vh;
  font-family: sans-serif;
  height: 100vh;
}

div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: pre-wrap;
}

a {
  font-size: 16px;
  text-decoration: underline;
  color: blue;
  font-weight: 400;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow-container img {
  width: 400px !important;
}